<a href="https://colab.research.google.com/github/Mafarasya/Pattern-analysis/blob/main/Pattern_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Penerapan Apriori Algorithm untuk menawarkan beberapa kesepakatan kepada pelanggan dan untuk meningkatkan penjualan dan keuntungan kepada pemilik Bisnis

### 2440103546 - Mahatmaditya Favian Rachman Syarief - GSLC - Python for Pattern Analysis

In [ ]:
# Instal apyori package 
%pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [ ]:
# Impor libraries Numpy, Matplotlib.pyplot, dan pandas untuk berinteraksi dengan dataset
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# impor dataset yang akan digunakan, dataset yang saya gunakan disini yaitu Market_Basket_Optimatisation
Data = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

In [ ]:
Data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Mengubah dataset pandas menjadi list dataset
# Saya perlu mengubah dataframe pandas menjadi list transaksi dengan menginisialisasi list kosong
# lalu mengisii dengan transaksi yang berbeda dalam dataframe pandas
# caranya dengan menggunakan looping for untuk melakukan iterasi pada pengamatan yang berbeda dari 
# dataset pandas dan mengisi list kosong dengan pengamatan tersebut

# Menginisialisasi list
transacts = []
# Mengisi list transaksi
for i in range(0, 7501): 
  transacts.append([str(Data.values[i,j]) for j in range(0, 20)])

## Tahap diatas merupakan tahap preprocessing data ntuk model apriori

## Mengimplementasikan model dengan melakukan Training

In [ ]:
from apyori import apriori
rule = apriori(transactions = transacts, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## Memvisualisasikan Hasil

In [ ]:
output = list(rule) # mengembalikan output non-tabula
# menempatkan output ke dalam dataframe 
results = output
def inspect(output):
    lhs         = [tuple(result[2][0][0])[0] for result in output]
    rhs         = [tuple(result[2][0][1])[0] for result in output]
    support    = [result[1] for result in output]
    confidence = [result[2][0][2] for result in output]
    lift       = [result[2][0][3] for result in output]
    return list(zip(lhs, rhs, support, confidence, lift))
output_DataFrame = pd.DataFrame(inspect(results), columns = ['Left_Hand_Side', 'Right_Hand_Side', 'Support', 'Confidence', 'Lift'])

### Menampilkan hasil yang tidak disortir

In [ ]:
output_DataFrame

         Left_Hand_Side Right_Hand_Side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         fromage blanc           honey  0.003333    0.245098  5.164271
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
6           light cream       olive oil  0.003200    0.205128  3.114710
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
8                 pasta          shrimp  0.005066    0.322034  4.506672

### Menampilkan hasil yang diurutkan secara Descending dari kolom Lift

In [ ]:
output_DataFrame.nlargest(n = 10, columns = 'Lift')

         Left_Hand_Side Right_Hand_Side   Support  Confidence      Lift
3         fromage blanc           honey  0.003333    0.245098  5.164271
0           light cream         chicken  0.004533    0.290598  4.843951
2                 pasta        escalope  0.005866    0.372881  4.700812
8                 pasta          shrimp  0.005066    0.322034  4.506672
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
6           light cream       olive oil  0.003200    0.205128  3.114710